<div class = "jumbotron">
	<div id = "headline">
		<h2>Owls are
		<div id="content-1">superb.</div>
		<div id="content-2">independent.</div>
		<div id="content-3">charismatic.</div>
		<div id="content-4">wise.</div>
		<div id="content-5">fast.</div>
		<div id="content-6">magnificient.</div>
		</h2>
	</div>
</div>


<div class = "container">
	<div id = "intro-container">
		<h2><b>About</b></h2>

		<h3><b>How does this site work?</b></h3>
		<h4>This site celebrates the majestic bird, hunter of the night, predator of darkness, ninjas of the animal kingdom: the owl. Users can post images of their favorite animal and share relish in their superb qualities with fellow users.</h4> 

		<h3><b>Great! How do I get started?</b></h3>
		<h4>To create a new post, users may sign up using the link on the navigation bar.</h4>
	</div>
</div>