<div id = "intro-container">
	<h2><b>About</b></h2>

	<h3><b>Why did you make this site?</b></h3>
	<h4>What started as a joke on 
	<%= link_to 'reddit.com/r/superbowl', 'https://www.reddit.com/r/superbowl' %> 

	became a thriving community of 20,000 owl lovers. In order to hone my web development skills using Ruby on Rails, I decided to make a small application that contains a repository of owl images from users all over the world.</h4> 

	<h3><b>Can I get in touch with you?</b></h3>
	<h4>You can email me on 
	<%= link_to 'hey.kamok@gmail.com', 'mailto: hey.kamok@gmail.com' %>. 

	Fellow web developers can check out this application's 
	<%= link_to 'Github page', 'https://github.com/kamok/superbowl' %>

	and build upon the website with me. </h4> 
</div>