<h1>FAQ</h1>

<h3><b>Q: How does this site work?</b></h3>
<h4>This site celebrates the majestic bird, hunter of the night, predator of darkness, ninjas of the animal kingdom, the owl. Users can post images of their favorite animal and relish in the glory of all <i>Strigiformes</i>. </h4>
