<div class = "jumbotron">
	<div class = "container">
		<h2><b>Owls are </b>superb.</h2>
	</div>
</div>

<div class = "container">
<h1>Feature List</h1>

<p>Login, Signup, upload images, add description</p>
<p>Custom CSS: Brand icon, more refined bootstrap features</p>
<p>About Page: Owl facts and about</p>
<p>Pull data from Reddit and auto create posts</p>
</div>