// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//home//
#intro-container{
	border-radius: 5px;
	padding: 2% 4%;
	background-color: #f0f0f0;
	margin: auto;
	margin-bottom: 50px;
	max-width: 80%;
	h2, h3 {
	color:#E56A20;
	}
	h4 {
	color:#333333;
	line-height: 140%; 
	}
}
