#posts {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 214px;
}

.box img {
	width: 100%;
}

//Glyphicons
.glyphicon {
	margin-left: 6px;
}

//Comments
.comment-section {
	text-align: center;
	textarea { 
	resize:vertical;
	}
	.btn {
	margin-top: 5px;
	float :right;
	}
}

.comment-list {
	margin-right: 15px;
}